.menu-button{
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 12%;
}
.menu-icon{
    display: block;
    width: 32px;
    height: 2px;
    background-color: #333;
    position: relative;
}
.menu-icon::before,
.menu-icon::after{
    content: "";
    display: block;
    width: 32px;
    height: 2px;
    background-color: #333;
    position: absolute;
}
.menu-icon::before{
    top: -10px;
}
.menu-icon::after{
    top: 10px;
}
.menu{
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    padding: 20px;
}
.menu ul{
    list-style: none;
}
.menu li{
    margin-bottom: 20%;
}
.menu-button:focus + .menu{
    display: block;
}
.last{
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-family: monsterrat, sans-serif;
    font-weight: normal;
}
.foreign{
    display: flex;
    gap: 8%;
    margin-left: 6%;
    margin-top: 8%;
    margin-bottom: 40%;
}
.dollar{
    color: red;
    font-size: 18px;
    border-bottom: 2px dotted red;
    width: 2%;    
}
.rupee{
    color: red;
    font-size: 18px;
    border-bottom: 2px dotted red;
    width: 4.8%;
}
.socials{
    display: flex;
    gap: 4%;
    margin-left: 7%;
}
h1{
    margin-left: 23%;
    margin-top: -6%;
}
.your{
    color: blue;
    font-size: 32px;
    font-weight: bold;
    font-family: monsterrat,sans-serif; /*here*/
}
.logo{
    color: red;
    font-size: 32px;
    font-weight: bold;
    font-family: monsterrat,sans-serif;
}
.profile{
    justify-self: flex-end;
    margin-right: 14%;
    margin-top: -50px;
}
.contain{
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    margin-top: 5%;
}
.views{
    position: absolute;
    width: 100%;
    text-align: center;
    object-fit: contain;
}
h2{
    position: absolute;
    font-size: 28px;
    font-family: sans-serif;
    width: 60%;
    margin-left: 15%;
    margin-top: 8%;
}
.we{
    position: absolute;
    margin-top: 27%;
    margin-left: 15%;
    width: 200px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: monsterrat, sans-serif;
    
}
.white{
    position: absolute;
    background-color: #fff;
    width: 328px;
    border-radius: 35px;
    height: 70px;
    margin-top: 49%;
    margin-left: 15%;
}
.lock{
    margin-left: 8%;
    margin-top: 7%;
}
.where{
    margin-left: 18%;
    margin-top: -11%;
    font-size: 16px;
    font-family: sans-serif;
}
.destination{
    font-size: 16px;
    font-family: sans-serif;
    margin-left: 18%;
    margin-top: 2%;
    color: #858585;
}
.sea{
    /*width: 40px;
    height: 40px;
    padding: 6px;
    justify-self: flex-end;
    margin-right: 5%;*/
    justify-self: flex-end;
    background-color: red;
    padding: 10px;
    border-radius: 17px;
    margin-top: -14%;
    margin-right: 5%;
}

h3{
    margin-top: 35%;
    padding-top: 30px;
    font-size: 28px;
    text-align: center;
    margin-bottom: 1%;
}
.ash{
    background-color: #F7F7F7;
    margin-top: 50%;
}
.the{
    font-size: 22px;
    width: 61%;
    text-align: center;
    justify-self: center;
    margin-bottom: 10%;
}
.pay{
    justify-self: center;
    
}
.title{
    text-align: center;
    font-size: 26px;
    margin-top: 3%;
}
.text{
    font-size: 20px;
    text-align: center;
    justify-self: center;
    width: 70%;
    font-weight: 100;
    margin-top: -6%;
}
.support{
    text-align: center;
    font-size: 20px;
    width: 60%;
    justify-self: center;
    font-weight: 100;
    margin-top: -10%;
}
.fantasy{
    font-size: 20px;
    text-align: center;
    justify-self: center;
    width: 70%;
    font-weight: 100;
    margin-top: -10%;
    padding-bottom: 18%;
}
.special{
    font-size: 28px;
    text-align: center;
    
}
.border{
    border: 1px solid rgb(224, 221, 221);
    padding: 90px;
    border-radius: 10px;
    width: 35%;
    height: 110%;
    align-self: center;
    justify-self: center;
    margin-bottom: 4%;
    padding-bottom: 2%;
    
}
.container{
    position: relative;
}
.bed{
    align-self: center;
    justify-self: center;
    margin-top: -47%; 
}
.point{
    position: absolute;
    display: flex;
    margin-top: -110%;
    margin-left: -25%;
    background-color: #fff;
    width: 57px;
    height: 32px;
    opacity: 70%;
    gap: 10%;
}
.star{
    height: 20px;
    align-self: center;
}
.number{
    font-size: 16px;
    align-self: center;
}
.heart{
    position: absolute;
    margin-top: -110%;
    margin-left: 115%;
}
.wild{
    text-align: left;
    margin-left: -40%;
    font-size: 22px;
}
.date{
    font-size: 20px;
    margin-left: -40%;
}
.dash{
    width: 500%;
}
.money{
    margin-left: -40%;
}
.cost{
    color: blue;
    font-size: 30px;
}
.night{
    color: blue;
    font-size: 16px;
}
.review{
    font-size: 28px;
    text-align: center;
}
.reviewer{
    align-self: center;
    justify-self: center;
}
.box{
    j
}
.quick{
    font-size: 18px;
    width: 62%;
    margin: auto;
}
.name{
    font-size: 17px;
    margin-left: 19%;

}
.bold{
    font-weight: bold;
}
.italics{
    font-style: italic;
}
.cent{
    width: 75%;
    text-align: center;
    justify-self: center;
}
.more{
    width: 90%;
    height: 38px;  
    background-color: red;
    border-radius: 10px;
    border: none;
}
.view{
    font-size: 18px;
    margin: auto;
    color: white;
}
.recent{
    font-size: 26px;
    text-align: center;
}
.posts{
    margin: ;

}
.athens{
    justify-self: center;
}
.may{

}
.first{
    display: flex;
    justify-content: center;
    gap: 29%;
    margin-top: 6%;    
}
.time{
    display: flex;
    gap: 10px;
}
.trip{
    font-weight: bold;
    font-size: 20px;
    margin-left: 15%;
}
.it{
    font-size: 18px;
    width: 60%;
    margin-left: 15%;
}
.footer{
    margin-left: 15%;
}
.section{
    font-weight: bold;
    margin-bottom: 4%;
    margin-top: 16%;
}
.page{
    margin-bottom: 4%;
}
.pages{
    margin-bottom: -6%;
}
.of{
    margin-bottom: 7%;
}
.even{
    margin-left: 15%;
    font-size: 14px;
    font-family: sans-serif;
}
.subscribe{
    margin-left: 15%;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5%;
    font-family: sans-serif;
}
.input{
    display: flex;
    justify-content: space-around;
    width: 328px;
    height: 40px;
}
.email{
    width: 100%;
    margin-left: 40%;
}
.red{
    width: 8%;
    padding: -2%;
    height: 56%;
    margin-top: -0.5%;
    border-radius: 6px;
    background-color: red;
    margin-right: 4%;
}
.touch{
    margin-left: 12%;
    margin-top: 12%;
}
.color{
    color: black;
    width: 328px;
}
.foot{
    margin-left: 15%;
}
.my{
    color: blue;
}
.log{
    color: red;
}

.delvig{
    color: blue;
}